@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.title {
  font-family: "Asap";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
  /* identical to box height */

  color: #000000;
}

.names {
  font-family: "Asap";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height */

  color: #9b9b9b;
}

.link {
  font-family: "Asap";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 29px;
  /* or 242% */
}
.link__item {
  text-decoration: none;
  color: #7d7d7d;
}

/* section social */
.social {
  background: #0e77af;
  display: flex;
  justify-content: space-between;
  padding-left: 247px;
  padding-right: 248px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.icon-socilal {
  display: flex;
}
.facebook_image {
  padding-right: 21px;
}

.twitter_image {
  padding-right: 21px;
}
/* a svg .icon {
  fill: rgba(255, 255, 255, 1);
} */
a svg:hover .icon {
  fill: #fba518;
}

.mail_link {
  color: #fff;
  text-decoration: none;
}
.mail_link:hover {
  color: #fba518;
  border-bottom: 1px solid #fba518;
}

/* section menu */

.menu {
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 247px;
  padding-right: 248px;
  padding-top: 20px;
  padding-bottom: 24px;
}
.logo {
}
.nav {
}
.nav__list {
  display: flex;
}
.nav__item {
  list-style: none;
  /* padding-bottom: 52px;
  padding-top: 52px; */
}
.nav__item:not(:last-child) {
  padding-right: 30px;
}

.nav__link {
  text-decoration: none;
  color: black;
}
.nav__link:hover {
  color: #fba518;
  border-bottom: 1px solid #fba518;
}
.phone {
  display: flex;
}
.phone__img {
  padding-right: 12px;
}
.phone__text {
}
.phone__text_title {
  color: rgba(125, 125, 125, 1);
}
.phone__text_number {
}

/* section slider */

.slider {
  width: 1665px;
  height: 647px;
  position: relative;
  /* background: url(../img/doc2.png); */
  left: 125px;
}

.slider__img {
  position: absolute;
  width: 100%;
  height: 100%;
  /* z-index: -1; */
}

.index {
  z-index: -10;
}
.slider__container {
  position: absolute;
  left: 829px;
  top: 150px;
  width: 584px;
}
.slider__subtittle {
  font-family: "Asap", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;

  color: #1a1919;
  padding-bottom: 12px;
}
.slider__title {
  font-family: "Asap";
  font-style: normal;
  font-weight: 700;
  font-size: 84px;
  line-height: 96px;
  padding-bottom: 12px;

  color: #1a1919;
}
.slider__text {
  font-family: "Asap";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 42px;
  /* or 131% */

  color: #000000;
  padding-bottom: 70px;
}
.slider__btn {
}
.btn {
  background-color: #b4141b;
  color: #ffffff;
}
.slider__btn_item {
  padding: 26px 63px 25px 70px;
  font-family: "Asap";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 23px;
  /* identical to box height, or 96% */

  text-align: center;
}
.slider__btn__container {
  top: 317px;
}

.slider__btn__container-left {
  position: absolute;
  left: 90px;
}

.slider__btn__container-right {
  position: absolute;
  right: 100px;
}

.slider__btn-left {
  /* border: none; */
}
.slider__btn-right {
  /* border: none; */
}

.icon__slider {
}

/* section Us */
.us {
  display: flex;

  padding-top: 85px;
  padding-bottom: 135px;
}
.about-us {
  margin-left: 343px;
  width: 770px;
  margin-right: 50px;
}

.about-us__imgage {
}
.us__title {
  padding-bottom: 57px;
}

.about-us__text-container {
  padding-top: 38px;
}
.about-us__text {
  font-family: "Asap";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  /* or 181% */

  color: #000000;
}
.why-us {
  margin-right: 248px;
}
.why-us__container {
  width: 380px;
}
.why-us__dependable {
  padding-left: 37px;
  padding-top: 50px;
  padding-bottom: 30px;
  background: linear-gradient(180deg, #f8f8f8 0%, #f7f7f7 100%);
}
.why-us__title {
  display: flex;
  justify-content: space-between;
  padding-bottom: 17px;
}
.title-text {
  font-family: "Asap";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height */

  color: #0e77af;
}
.title-svg {
  padding-right: 18px;
}
.why-us__text {
  font-family: "Asap";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  /* or 156% */

  color: #000000;
  padding-right: 29px;
  padding-bottom: 12px;
}
.why-us__link {
}
.why-us__link-item {
}
.why-us__open {
  padding-left: 37px;
  padding-top: 50px;
  padding-bottom: 30px;
  background: linear-gradient(180deg, #f3f3f3 2.58%, #f3f3f3 100%);
}
.why-us__connected {
  padding-left: 37px;
  padding-top: 50px;
  padding-bottom: 30px;
  background: linear-gradient(180deg, #fcfcfc 0%, #f7f7f7 100%);
}

/* section benefits */

.benefits {
  display: flex;
  padding-bottom: 130px;
}
#benefits__pic {
  background: url(../img/benefits.png);
  position: relative;
  width: 877px;
  height: 504px;
  margin-left: 111px;
}
.benefits__card {
  position: absolute;
  right: 0;
  width: 474px;
  height: 86px;
  color: #fff;
}

.phisicials {
  top: 87px;
  background: #0e77af;
  mix-blend-mode: normal;
  opacity: 0.9;
  /* background: rgba(255, 255, 255, 0.9); */
}

.medical {
  top: 204px;
  background: #0e77af;
  mix-blend-mode: normal;
  opacity: 0.9;
}
.control {
  top: 321px;
  background: #0e77af;
  mix-blend-mode: normal;
  opacity: 0.9;
}

.card {
  font-family: "Asap";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 25px;

  padding-left: 34px;
  padding-top: 32px;
  padding-bottom: 36px;
}

.benefirs__description {
  padding-left: 65px;
  background: linear-gradient(180deg, #fcfcfc 0%, #f8f8f8 100%);
  width: 787px;
}
.benefits__card:hover {
  background-color: #fff;
  color: #000;
}

.active {
  background-color: #fff;
  color: #000;
}

.hidden {
  display: none;
}

.benefits__title {
  padding-bottom: 10px;
}
.benefits__name {
  padding-bottom: 50px;
}
.benefits__text {
}
.benefits__list {
  padding-bottom: 20px;
  width: 474px;
}
.benefits__item {
  font-family: "Asap";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  /* or 181% */

  color: #000000;
}
.benefits__btn-item {
  padding: 6px 8px 6px 8px;
}
.btn {
}

/* section service/security */

.service__security {
  display: flex;
  padding-left: 246px;
  padding-bottom: 167px;
}

.service {
}
.service__title {
  padding-bottom: 9px;
}
.title {
}
.service__name {
  padding-bottom: 67px;
}
.names {
}
.accordion {
  margin-right: 101px;
}
.accordion__item {
}
.accordion__item:not(.accordion__item_show) .accordion__body {
  display: none;
}

.accordion__item_show {
}
.accordion__header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #000;
  font-family: "Asap";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height */

  color: #0e77af;
  padding-bottom: 25px;
}
.accordion__body {
  padding-top: 35px;
  width: 702px;
  display: flex;
}

.accordion__body__img {
  padding-right: 20px;
  padding-bottom: 42px;
}
.accordion__text {
}
.accordion__description {
  font-family: "Asap";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  /* or 181% */

  color: #000000;
  padding-bottom: 7px;
}

.accordion__header-second {
  padding-top: 31px;
}
.accordion__header-last {
  padding-top: 31px;
}

.security {
  display: flex;
  flex-direction: column;
}
.security__title {
  padding-bottom: 9px;
}
.title {
}
.security__name {
  padding-bottom: 47px;
}
.names {
}
.security__img {
  width: 474px;
  padding-bottom: 58px;
}
.security__text {
  width: 474px;
  font-family: "Asap";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  /* or 181% */

  color: #000000;
}
.security__btn {
  margin-top: 58px;
  padding: 6px 6px 6px 10px;
  width: 118px;
}

/* section testimonials */

.testimonials {
  display: flex;
  background: #0e77af;
  padding-bottom: 141px;
}
.testimonials__text {
  color: rgba(255, 255, 255, 1);
  padding-top: 150px;
  padding-left: 247px;
}
.testimonials__label {
  padding-bottom: 92px;
}
.testimonials__title {
  font-family: "Asap";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
  /* identical to box height */
  padding-bottom: 9px;
}
.testimonials__name {
  font-family: "Asap";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height */
}
.testimonials__90 {
  padding-bottom: 56px;
}
.testimonials__procent {
  font-family: "Asap";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 73px;
  padding-bottom: 9px;
}
.testimonials__description {
  font-family: "Asap";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  /* identical to box height */
}
.testimonials__link {
}
.testimonials__link__item {
  text-decoration: none;
  color: #fff;
  font-family: "Asap";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  /* identical to box height */
}
.textimonials__card {
  background: #fff;
  margin-top: 147px;
  margin-bottom: 148px;
  width: 734px;
  margin-left: 307px;
  padding: 71px 45px 82px 59px;
}
.testimonials__card__header {
  font-family: "Asap";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  /* identical to box height */

  color: #000000;
  padding-bottom: 21px;
}
.testimonials__card__body {
  font-family: "Asap";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  /* or 181% */

  color: #000000;
  padding-bottom: 54px;
}
.testimonials__card__footer {
  font-family: "Asap";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;

  color: #000000;
}

/* section .submit */

.submit {
  padding-top: 179px;
  padding-left: 247px;
  padding-bottom: 228px;
  display: flex;
}
.submit__description {
  padding-right: 120px;
}
.submit__physicians {
  padding-bottom: 26px;
}

.physicians__title {
  padding-bottom: 9px;
}

.physicians__names {
  padding-bottom: 24px;
}
.physicians__text {
  padding-bottom: 21px;
  width: 296px;
}
.physicians__link {
}

.submit__hospitals {
}
.hospitals__title {
  padding-bottom: 9px;
}
.hospitals__names {
  padding-bottom: 24px;
}
.hospitals__text {
  padding-bottom: 21px;
  width: 436px;
}
.hospitals__link {
}

.submit__form {
  width: 474px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, #fcfcfc 0%, #f7f7f7 100%);
  padding-top: 54px;
  padding-left: 48px;
  margin-top: -48px;
  padding-bottom: 58px;
}
.form_title {
  padding-bottom: 46px;
}
.input {
  width: 388px;
  height: 53px;
  margin-bottom: 37px;
  background: #ffffff;
  border: 2px solid #e2e2e2;
}

.firstName {
}
.lastName {
}
.email {
}
.company {
  margin-bottom: 3;
}
.btn {
}
.submit__btn {
  width: 88px;
  padding: 6px 6px 6px 10px;
  margin-left: 300px;
}

/* footer */

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact {
  width: 1170px;
  display: flex;
  margin-bottom: -97px;
  z-index: 2;
}
.address {
  background: #5f5f5f;
}
.contact__title {
  font-family: "Asap";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height */

  color: #ffffff;
}
.contact__title__padding {
  padding-top: 40px;
  padding-left: 70px;
  padding-bottom: 11px;
  padding-right: 166px;
}
.contact__text {
  font-family: "Asap";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  /* or 181% */

  color: #ffffff;
}
.contact__text__padding {
  padding-bottom: 95px;
  padding-left: 70px;
}
.call {
  background: #6c6c6c;
}
.write {
  background: #7b7b7b;
}
.about {
  background: #4a4a4a;
  width: 100%;
  padding-left: 370px;
  display: flex;
  padding-top: 209px;
  /* align-items: center; */
  /* justify-content: center; */
}
.about__medpro {
  width: 334px;
  margin-right: 90px;
  width: 334px;
}

.medpro__title {
  padding-bottom: 45px;
}
.medpro__text {
  padding-bottom: 127px;
}
.about__quick {
  margin-right: 180px;
}
.contact__text__list {
}
.contact__text__item {
}
.contact__text__item__link {
  text-decoration: none;
  color: #ffffff;
}
.about__stay {
  margin-right: 389px;
}
.stay__img {
}
.stay__imgage {
  padding-right: 33px;
}
.copiwrite {
  background: #363636;
  width: 100%;
  padding-left: 370px;
}
